.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    background-color: #f3f3f3;
    flex-wrap: wrap;
}

.pic img {
    max-height: 317px;
    padding: 0;
}